
{% extends '../../layout.html' %}

{% block title %} Detalles del rol {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="d-flex bd-highlight mb-3 align-items-center">
                    <div class="me-auto bd-highlight align-self-end p">
                        <h3 class="title-card">Datos del rol</h3>
                    </div>
                
                    <div class="bd-highlight">
                        <a href="{% url 'listmUserRol' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Regresar al listado</a>
                    </div>
                </div> 
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Id </span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{MUserRol.id}}" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Rol </span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{MUserRol.rol}}" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Descripcion </span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{MUserRol.descripcion}}" disabled>
                </div>
             
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Observaciones</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" value="{{MUserRol.obs}}" disabled>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}