<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/641881bacc.js" crossorigin="anonymous"></script>


       <!-- ESTILOS PROPIoS -->
       {% load static %}
       <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}" />
    <title>Document</title>
</head>
<body>
    <form method="POST" action="" class="formulario">
        {% csrf_token %}
        <h1>Ingresar</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="username" placeholder="Email">
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="password" placeholder="Contraseña">
            </div>
            <input type="submit" value="Ingresar" class="button">
            {% if messages %}
            {% for message in messages%}
            <p>{{message}}</p>
            {% endfor %}
            {% endif %}
    
        </div>
    </form>   
</body>
</html>