{% extends '../../layout.html' %}

{% block title %} Listado de registros penales {% endblock %}
{% load static %}
{% block content %}



<!-- float-left icons -->
<!-- fixed-top -->
<!-- alerts -->

<!-- <form action="/iPersona/search" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Comodin" aria-label="Comodin" name="comodin" value="{{comodin}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="DNI" aria-label="DNI" name="dni" value="{{dni}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Apellido Paterno" aria-label="Apellido Paterno" name="apepaterno" value="{{apepaterno}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Apellido Materno" aria-label="Apellido Materno" name="apematerno" value="{{apematerno}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" name="nombres" value="{{nombres}}">
        <button class="btn btn-success">Buscar</button>
     
        <a href="{% url 'listiPersona' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>Limpiar</a>
        
    </div>
</form> -->


<div class="row">
    <div class="d-flex bd-highlight col-md-12 align-items-center">
        <div class="me-auto bd-highlight align-self-end p">
            <h3 class="title-card">Antecedentes registrados</h3>
        </div>
        <div class="bd-highlight">
            <a href="{% url 'listiPersona' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Regresar al listado</a>
        </div>
    </div> 
    <div class="card">
        <div class="card-title">
            <h3 class="title-card card-title">Listado de antecedentes penales registrados </h3>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-12">
                    <a href="{% url 'viewTypeiPersona' pk%}" class="btn btn-success"><i class="fas fa-user"></i>Datos Personales</a>
                    <a href="{% url 'listRFamiliares' pk%}" class="btn btn-success"><i class="fas fa-users"></i>Datos Familiares</a>
                    <a href="{% url 'listRfiliacionpolitica' pk%}" class="btn btn-success"><i class="fas fa-people-arrows"></i>Filiacion Política</a>
                    <a href="{% url 'listRPenales' pk%}" class="btn btn-primary disabled" ><i class="bi bi-file-earmark-medical"></i>Antecedentes penales</a>
                    <a href="{% url 'listIpolicia' pk%}" class="btn btn-success"><i class="bi bi-shield-x"></i>Atec. PNP</a>
                    <a href="{% url 'listIFFAA' pk%}" class="btn btn-success"><i class="bi bi-shield-fill-x"></i>Atec. FFAA</a>
                </div>
                <!-- Tdfable section -->
                <div class="col-md-3">
                    <div class="table-responsive">
                        <table class=" table table-borderless">
                            <thead><a href="{% url 'viewTypeiPersona' pk%}">x</a>
                                <tr>
                                    <th>id</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if RPenales %}
                                {% for i in RPenales %}
                                <tr>
                                    <td id="registropenal" onClick='reply_click({{i.id}})' data-rpenal="{% url 'registropenal_ajax' %}" class="table-content">{{i.nombreepenal}} </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <h4>No se encontro ninguna coincidencia</h4>  
                                <tr>
                                    <td class="table-content">
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Body section -->
                <div class="col-md-9">
                    <div class="d-flex bd-highlight mb-3 align-items-center">
                        <div class="me-auto bd-highlight align-self-end p">
                            <h4 class="title-card">ANTECENDETE REGISTRADO</h4>
                        </div>
                        <div class="bd-highlight">
                            <a href="{% url 'createRPenales' pk %}" class="btn btn-success">Agregar antecedente<i class="fas fa-plus-circle"></i></a>
                           
                        </div>
                    </div>
                    {% if RPenales %}
                    <div  id ="r_penales_data" class="row g-3">
                        <h3>Seleccione un antecedente penal</h3>
                    </div>
                    {% else %}
                    
                    <img src="{% static 'assets/images/empty.jpg' %}" alt="" height="450" width="390" class="rounded mx-auto d-block">
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function reply_click(clicked_id)
    {
        var url = $("#registropenal").attr("data-rpenal");
        console.log("url seleccionada: ", url)
        $.ajax({
            url: url,
            data: {
                'id': clicked_id
            },
            success: function (data) {
                
                $('#r_penales_data').html(data)
            }
        });

       
    }
  </script>


{% endblock %}