{% extends '../../layout.html' %}

{% block title %} Modulo Persona {% endblock %}
{% load static %}
{% block content %}



<!-- float-left icons -->
<!-- fixed-top -->
<!-- alerts -->

<!-- <form action="/iPersona/search" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Comodin" aria-label="Comodin" name="comodin" value="{{comodin}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="DNI" aria-label="DNI" name="dni" value="{{dni}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Apellido Paterno" aria-label="Apellido Paterno" name="apepaterno" value="{{apepaterno}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Apellido Materno" aria-label="Apellido Materno" name="apematerno" value="{{apematerno}}">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Nombres" aria-label="Nombres" name="nombres" value="{{nombres}}">
        <button class="btn btn-success">Buscar</button>
     
        <a href="{% url 'listiPersona' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i>Limpiar</a>
        
    </div>
</form> -->


<div class="row">

    <div class="card">
        <div class="card-title">
            <h3 class="title-card card-title">Antecedentes Penales Registrados</h3>
        </div>
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-12">
                    <a href="" class="btn btn-success"><i class="fas fa-user"></i>Datos Personales</a>
                    <a href="" class="btn btn-success"><i class="fas fa-users"></i>Datos Familiares</a>
                    <a href="" class="btn btn-success"><i class="fas fa-people-arrows"></i>Filiacion Publica</a>
                    <a href="" class="btn btn-primary"><i class="bi bi-file-earmark-medical"></i>Antecedentes</a>
                    <a href="" class="btn btn-success"><i class="bi bi-file-earmark-medical-fill"></i>Antec. Penales</a>
                    <a href="" class="btn btn-success"><i class="bi bi-shield-x"></i>Atec. PNP</a>
                    <a href="" class="btn btn-success"><i class="bi bi-shield-fill-x"></i>Atec. FFAA</a>
                </div>
                <!-- Tdfable section -->
                <div class="col-md-3">
                    <div class="table-responsive">
                        <table class=" table table-borderless">
                            <thead><a href="{% url 'viewTypeiPersona' persona.id%}">x</a>
                                <tr>
                                    <th>id</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if penales %}
                                {% for i in penales %}
                                <tr>
                                    <td class="table-content"><a href="{% url 'viewTest' pk i.id%}"><div style="height:100%;width:100%">{{i.id}}</div></a></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                
                                <!-- <h2>No se encontro ninguna coincidencia</h2>  -->
                                <tr>
                                    <td class="table-content">----</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Body section -->
                <div class="col-md-9">
                    {% if penales %}
                        <p>Ya tiene uno</p>
                        {{penalesi.nombreepenal}}
                    {% else %}
                    <div class="d-flex bd-highlight mb-3 align-items-center">
                        <div class="me-auto bd-highlight align-self-end p">
                            <p class="title-card">SIN NUGNIN ANTECEDENTE REGISTRADO</p>
                        </div>
                        <div class="bd-highlight">
                            <a href="{% url 'createRPenales' pk %}" class="btn btn-secondary">Agregar nuevo antecedente<i class="fas fa-plus-circle"></i></a>
                        </div>
                    </div>
                    <img src="{% static 'assets/images/empty.jpg' %}" alt="" height="450" width="390" class="rounded mx-auto d-block">
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}