


  <footer class="footer">
  	 <div class="container">
  	 	<div class="row center">
  	 		<div class="footer-col">
  	 			<h4>INSTITUCIÓN</h4>
  	 			<ul>
  	 				<li><a href="#">Sobre nosotros</a></li>
  	 				<li><a href="#">Nuestros servicios</a></li>
  	 				<li><a href="#">Política de privacidad</a></li>
  	 				<li><a href="#">programa de afiliación</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Consigue ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">Preguntas más frecuentes</a></li>
  	 				<li><a href="#">Transporte</a></li>
  	 				<li><a href="#">Devoluciones</a></li>
  	 				<li><a href="#">Estado del pedido</a></li>
  	 				<li><a href="#">Opciones de pago</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Contacto</h4>
  	 			<ul>
  	 				<li><a href="#">Telefono</a></li>
  	 				<li><a href="#">Celular</a></li>
  	 				<li><a href="#">Correo</a></li>
  	 				
  	 			</ul>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>


